h1{
    color: red;
    margin: 0;
    padding: 0;
}

header
{
    background-color: burlywood;

}
body{
    background-color: rgb(253, 253, 253);
    margin: 0;
}
.input{
    background-color: rgb(238, 161, 20);
    width: 20%;
    height: 50px;
    position: absolute;
    right: 45%;
    top: 30%;
}
.button{
    width:4% ;
    height: 30px;
    position: absolute;
    right:39% ;
    top: 32%;
}